<h1>Learning Languages</h1>
<h1>German</h1>
<section>
	<h2><%= link_to 'Learn a new word', home_new_path(lenguage: :german) %></h2>
	<p>
		Create a new word and remember it
	</p>
</section>
	
<section>
	<h2><%= link_to 'Review my words', home_review_german_path %></h2>
	<p>
		Check that you are remembering your words
	</p>
</section>

