<h1>Learning French</h1>
<p>Level 1</p>

<section>
	<h2>Learn a new word</h2>
	<p>
		Create a new word and remember it
	</p>
</section>
	
<section>
	<h2>Rewview my words</h2>
	<p>
		Check that you are remembering your words
	</p>
</section>