<h1>Learning French</h1>
<p>Level 1</p>

<section>
	<h2><%= link_to 'Learn a new word', words_new_path %></h2>
	<p>
		Create a new word and remember it
	</p>
</section>
	
<section>
	<h2><%= link_to 'Review my words', words_index_path %></h2>
	<p>
		Check that you are remembering your words
	</p>
</section>
