<div class='header'>
	<div>
	  <%= image_tag 'world.jpg', alt: 'world map' %>
    </div>
    <div>
      <h2>Sign in to Len2</h2>
    </div>
</div>
<div class='body'>
  <h1>Email address</h1>
  <input type="text" id="email" name="email">
  <h1>Password</h1>
  <input type="text" id="password" name="password">
</div>
<div class='footer'>
</div>
