// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flex-container {
  display: flex;
}

.row {
  margin: 5px;
  padding: 10px;
}

.info {
  padding-left: 20px; 
  padding-top: 0px;
}

.item {
  color: white;
}

.german {
  background-color: darkslategrey;
}

.dutch {
    background-color: darkorange;
}

.translation {
  flex: 1;
}

.pronunciation {
  flex: 1;
}

.hint {
  flex: 2;
}